API_BASE_URL=http://localhost:8787
AUTH_BASE_URL=http://localhost:8787
DATABASE_URL=postgresql://postgres:sushmita%40123@localhost:5432/SecureFinanceExecutor
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:8787
WEB_BASE_URL=http://localhost:3000